{%extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="../static/main.css">

{%block title%}About{%endblock%}

{%block content%}

<div style="text-align: center; margin-top: 50px;font-size: 25px; color: #fff">
    <div> 
        <div style = "font-size: 35px"> About this Application </div>
        <ul>Stemming from a venture between Boarding Training Australia and RareDog Pty ltd,</ul>
        <ul>the Boarding Supervisor Appraisal App offers a more engaging interface and intuitive experience </ul>
        <ul> to the boarding supervisor appraisal matrix for new and returning users</ul>
        
    </div>
    
    
    <div style ="font-size: 35px">Supervisor Appraisal App Roles: </div>
      <div>Head of boarding: administrator of the boarding school</div> 
      <div>Manager: Leads several supervisors</div>
      <div>Supervisor: Leads a team of boarding students</div>
</div>



{%endblock%}